* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Poppins, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.App {
  height: 100vh;
  background-color: #f7f7f9;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06b6d4;
  height: 10vh;
}

.nav > ul {
  list-style-type: none;
  width: 80%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav > ul > li {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
}

.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
}

.loading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #06b6d4;
  height: 90vh;
}

.loading > h1 {
  font-size: 6rem;
  font-weight: 100;
}

.product {
  text-align: center;
  text-transform: capitalize;
  background-color: #fff;
  padding: 1rem;
  /* width: 20%; */
  margin: 2rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 1rem;
  -webkit-box-shadow: 10px 10px 28px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -30px rgba(0, 0, 0, 0.75);
}

.product-img > img {
  width: 19rem;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-self: flex-end; */
  margin-top: 10%;
}

.bottom > button {
  background-color: #06b6d4;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-left: 2rem;
  border: none;
  transition: 0.5s ease-in all;
}

.bottom > button:hover {
  background-color: #101010a2;
}

.price {
  font-size: 1.6rem;
  font-weight: 600;
}

/* CART PAGE STYLES START */
.cart-page {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  /* justify-content: center; */
}

.cart-page > h1 {
  font-size: 4rem;
  font-weight: 200;
}

.btn-clear {
  padding: 1rem;
  background-color: #06b6d4;
  color: #f7f7f9;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.5s ease-in all;
}

.btn-clear:hover {
  background-color: #05869c;
}

.cart-item {
  margin: 0.2rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.left-side > img {
  width: 10rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info > h4 {
  font-size: 2.4rem;
  color: #334155;
  font-weight: 100;
}

.info > span {
  font-size: 1.6rem;
}

.remove-btn {
  margin-top: 1%;
  background-color: transparent;
  color: #06b6d4;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-side > button {
  background-color: transparent;
  border: none;
  color: #06b6d4;
  font-size: 3rem;
  cursor: pointer;
}

.right-side > span {
  font-size: 2rem;
}

/* CART PAGE STYLES FINISH */
